@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

@font-face {
    font-family: 'SFPro';
    src: url('~@/assets/fonts/SFPro/sf-pro-text-bold-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/SFPro/sf-pro-text-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'SFPro';
    src: url('~@/assets/fonts/SFPro/sf-pro-text-medium-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/SFPro/sf-pro-text-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'SFPro';
    src: url('~@/assets/fonts/SFPro/sf-pro-text-regular-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/SFPro/sf-pro-text-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'SFPro';
    src: url('~@/assets/fonts/SFPro/sf-pro-text-semibold-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/SFPro/sf-pro-text-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}