%lock-wrapper {
	background-color: #fff;
	flex: 1 1 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

%lock-text {
	color: $darker-grey;
	font-size: $size-5;
	font-weight: 600;
	letter-spacing: -0.15px;
	margin-bottom: 24px;
}