$btn-color-buy: #00bf70;
$active-buy-color: #02A461;
$withdraw-text-active-color: #039E5E;
$active-cancel-color: #d7dbe2;
$bg-color: #F5F7F9;
$btn-color-sell: #FF524F;
$active-sell-color: #DC4545;
$form-bg-color: #ebeff5;
$nav-btn-hover-color: #EBF4FF;
$item-hover: #F4F7FA;
$line-color: #DDE5F0;
$border-input: #C1C7D0;
$triangle-color: #A5ADBA;
$button-disable-color: #C5CCD6;
$lightest-grey: #D0DBE6;
$light-grey: #A7B2C2;
$grey: #909DAF;
$middle-grey: #808FA3;
$semidark-grey: #6B778C;
$dark-grey: #676C7A;
$darker-grey: #505F79;
$text-hover-color: #0073FF;
$text-pressed-color: #0762D0;
$deposit-text-active-color: #0458BF;
$message-color: #52A0FF;
$text-active-color: #091E42;
$text-scpecial-color: #FF6728;
$text-percent-color: #02B896;
$text-sell-color: #FF5151;
$text-buy-color: #4EB833;
$star-color-active: #FEBB01;
$response-color: #F59900;
$star-color: #ffffff;
$black: black;
$semi-black: #140F1C;
$white: #ffffff;
$scroll-color: #97A0AF;
$check-color: #EBECF0;
$check-border-color: #D8DCE3;
$wrapper-color: rgba(0,0,0,0.40);
$upload-border-color: #D3DBE6;
$date-range-color: #CCFFEA;
$qr-border-color: #979797;

$second-font: 'SFPro', sans-serif;
$base-font: 'Montserrat', sans-serif;

$size-1: 0.625rem; // 10px
$size-2: 0.6875rem; // 11px
$size-3: 0.75rem; // 12px
$size-4: 0.8125rem; // 13px
$size-5: 0.875rem; // 14px
$size-6: 0.9rem; // 15px
$size-7: 1rem; // 16px
$size-8: 1.0625rem; // 17px
$size-9: 1.15rem; // 18.5px
$size-10: 1.1875rem; // 19px
$size-11: 1.25rem; // 20px
$size-12: 1.3125rem; // 21px
$size-13: 1.375rem; // 22px