@font-face {
    font-family: 'sf-pro';
    src: url('sf-pro-text-bold-webfont.woff2') format('woff2'),
         url('sf-pro-text-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'sf-pro';
    src: url('sf-pro-text-medium-webfont.woff2') format('woff2'),
         url('sf-pro-text-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'sf-pro';
    src: url('sf-pro-text-regular-webfont.woff2') format('woff2'),
         url('sf-pro-text-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'sf-pro';
    src: url('sf-pro-text-semibold-webfont.woff2') format('woff2'),
         url('sf-pro-text-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}